section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 15px;
    column-gap: 10px;

}

button {
    filter: drop-shadow(0px 2px 3px #6e6e6e);
    -webkit-filter: drop-shadow(0px 2px 3px #6e6e6e);
    -moz-filter: drop-shadow(0px 2px 3px #6e6e6e);
    width: 100px;
    height: 70px;
    border-style: none;
    background-color: var(--third-color);
    border-radius: 10px;
    text-align: center;

    p {
        font-size: 3rem;
        margin: 0;
    }
}

@media (min-width: 800px) {
    section {
        flex-wrap: nowrap;
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        gap: 30px;
    }

    button {
        width: 150px;
        height: 100px;

        p {
            font-size: 4rem;

        }

    }

}