@font-face {
    font-family: "ProstoOne";
    src: url(./assets/Fonts/Prosto_One/ProstoOne-Regular.ttf);
}

@font-face {
    font-family: "Capriola";
    src: url(./assets/Fonts/Capriola/Capriola-Regular.ttf);
}

:root {
    --font-title: "ProstoOne";
    --font-answer: "Capriola";
    --primary-color: rgb(255, 253, 247);
    --secondary-color: rgb(246, 160, 45);
    --third-color: rgb(255, 218, 117);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;


}

h1,
h2 {
    color: var(--secondary-color);
    font-family: var(--font-title);
    font-weight: 100;
}

h2 {
    text-align: center;
}

.answer {
    filter: drop-shadow(0px 2px 3px #6e6e6e);
    -webkit-filter: drop-shadow(0px 2px 3px #6e6e6e);
    -moz-filter: drop-shadow(0px 2px 3px #6e6e6e);
    background-color: var(--third-color);
    font-family: var(--font-answer);
    font-weight: 100;
    width: 80vw;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.3rem;
}

@media (min-width: 800px) {
    main {
        height: 75vh;
        justify-content: space-evenly;
    
        h2 {
            font-size: 2rem;
        }

        .answer {
            width: 50%;
            font-size: 1.5rem;
            min-width: 500px;
            min-height: 100px;
        }
    }

}