@font-face {
    font-family: "ProstoOne";
    src: url(./assets/Fonts/Prosto_One/ProstoOne-Regular.ttf);
}
@font-face {
    font-family: "Capriola";
    src: url(./assets/Fonts/Capriola/Capriola-Regular.ttf);
}
